@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
.Search {
    width: 1110px;
    height: 265px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5px;
}
.Main {
    width: 1110px;
    height: 170px;
    background-image: url('../../img/find\ journey.svg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;

}
.Title {
    width: 955px;
    height: 71px;
    font-size: 60px;
    font-weight: 300;
    font-family: Forum;
    text-align: center;
}
.Info {
    width:1016px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 40px;
}
.Tours{
    width:256px;
    height: 48px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-right:25px;
    margin-left:35px;
}
.Type{
    width:88px;
    height: 48px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-right:32px;
}
.When{
    width: 223px;
    height: 48px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-right:30px;
}
.Name {
    width: auto;
    height: 25px;
    color: #79655E;
    font-family: "Manrope", serif;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}
.List {
    width: auto;
    height: 25px;
    text-align: left;
}
.Find {
    width: 126px;
    height: 40px;
    border-radius: 20px;
    background-color: black;
    border:none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 24px;
}
.Find:hover {
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 40px;
    background-color: gray;
}
.Find:active {
    cursor: pointer;
    background-color: black;
    transform: scale(1.05);
}
.Icon {
    width: 19px;
    height: 19px;
}
.Span {
    margin-left: 10px;
    font-family: "Forum", serif;
    font-style: normal;
}
.Pick {
    width: 322px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}