.luxuryInfo {
    width: 1110px;
    height: 1891px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;

}
.Column {
    width: 350px;
    height: 1891px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.Card {
    width: 350px;
    height: 570px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.Card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.4s;
    box-shadow: 5px 5px 5px black;
}
.Card:active {
    cursor: pointer;
    transition: all 0.4s;
    transform: scale(1.00);
}
.C1R1 {
    background-image: url('../../../component/image/winterCard.png');   
    background-size: cover; 
}
.C1R2 {
    background-image: url('../../../component/image/4Card.png');   
    background-size: cover; 
}
.C1R3 {
    background-image: url('../../../component/image/7Card.png');   
    background-size: cover; 
}
.C2R1 {
    background-image: url('../../../component/image/peruCard.png');   
    background-size: cover; 
}
.C2R2 {
    background-image: url('../../../component/image/5Card.png');   
    background-size: cover; 
}
.C2R3 {
    background-image: url('../../../component/image/8Card.png');   
    background-size: cover; 
}
.C3R1 {
    background-image: url('../../../component/image/croariaCard.png');   
    background-size: cover; 
}
.C3R2 {
    background-image: url('../../../component/image/6Card.png');   
    background-size: cover; 
}
.C3R3 {
    background-image: url('../../../component/image/9Card.png');   
    background-size: cover; 
}

.Space {
    width: 100%;
    height: 381px;
}
.Content {
    display: flex;
    flex-direction: row;
    width: 280px;
    height: auto;
}
.Map {
    width: 9px;
    height: 11px;
    background-image: url('../../../component/image/Place.png');
    background-size: cover;
}
.Place {
    width: 54px;
    height: 16px;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.Name {
    width: 251px;
    height: auto;
    color: white;
    font-family: "Forum", serif;
    font-style: normal;
    font-size: 36px;
    text-align: left;
    font-family: "Manrope", serif;
}
.Price {
    width: 80px;
    height: 40px;
    margin-top: 30px;
}
.Cost {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Forum", serif;
    font-style: normal;     
    font-size: 24px;
    color: white;
}
.From {
    width: 33px;
    height: 16px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Manrope", serif;
}
.Rate {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Rating {
    width: 18px;
    height: 119px;
    background-image: url('../../../component/image/Rating.png');
    background-size: cover;
}