@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
.Insp {
    width: 1250px;
    height: 675px;
    margin-top: 678px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../image/Insp.svg');
}
.Container {
    width: 734px;
    height: 354px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.Title {
    margin-top:20px;
    width: 660px;
    height: 212px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    color: white;
}
.titleMain {
    font-size: 60px;
    font-family: "Forum", serif;
    text-align: left;
}
.Email {
    width: 730px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emailInput {
    width: 730px;
    height: 53px;
    border-radius: 95px;
    border: none;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    padding-left:30px;
    color: black;
}
.emailInput:focus {
    border: 1px solid white;
    outline: none;
}
.emailBtn {
    width: 330px;
    height: 98px;
    border-radius:95px;
    position: absolute;
    margin-left: 400px;
    margin-bottom:9px;
    background-image: url('../image/inspBtn.svg');
}
.emailBtn:hover{
    background-image: url('../image/inspBtnAfter.svg');
    transition: .5s;
    cursor: pointer;
    transform: scale(1.05);
}